<pool type='dir'>
  <name>vms</name>
  <uuid>28954164-9810-47bc-88f7-ab3d847c38df</uuid>
  <capacity unit='bytes'>66844176384</capacity>
  <allocation unit='bytes'>6587465728</allocation>
  <available unit='bytes'>60256710656</available>
  <source>
  </source>
  <target>
    <path>/var/lib/libvirt/images</path>
    <permissions>
      <mode>0711</mode>
      <owner>0</owner>
      <group>0</group>
    </permissions>
  </target>
</pool>
